@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f0f2f8;
  font-family: var(--font-poppins), sans-serif;
}

.logo-font {
  font-family: var(--font-zilla), serif;
}

a {
  text-decoration: none;
}
